.placeholder {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius-lg);
  background-color: #e3e5eb;
}

.placeholderText {
  position: absolute;
  top: var(--space-4);
  left: var(--space-4);
  width: calc(100% - var(--space-8));
  margin: 0;
  font-family: var(--font-family-base);
  font-size: 10px;
  line-height: normal;
  color: #66666b;
  word-break: break-word;
}

.image {
  display: block;
  width: 100%;
  border-radius: var(--radius-lg);
  object-fit: cover;
}
