.tabPill {
  display: inline-flex;
  align-items: flex-start;
  padding: 9px var(--space-4);
  border-radius: var(--radius-base);
  font-family: var(--font-family-base);
  cursor: pointer;
  background: none;
}

.inactive {
  background-color: var(--color-bg);
  border: 1px solid #d9dbe0;
  color: var(--color-fg);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-xs);
}

.active {
  background-color: var(--color-brand-subtle);
  border: 1.5px solid var(--color-brand);
  color: var(--color-fg);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-2xs);
  line-height: var(--line-height-2xs);
}
